node_modules/
.env
logs/*
logs/access.log
public/api_project.js
public/api_data.js
public/api_data.json
public/api_project.json
public/vendor/*
public/utils/
public/locales
public/fonts
/logs/access.log
privatekey*
server.conf
parse-apps.config.js
.env.production
.env.staging
.env.enc
*.enc